
@import 'bower_components/bootstrap-sass/assets/stylesheets/_bootstrap';

$bgcolor: #FFF;

body {
  background: $bgcolor;
}

.view {
  margin-top: 65px;
}

h1 {
  border-bottom: 1px solid #DDD;
  padding-bottom: 15px;
  margin-bottom: 20px;
}

p {
  margin: 10px 0 10px 0;
}

.file-upload {
  margin: 5px 0 10px 0;
}

.movieTable {
  width: 100%;
  max-width: 1024px;

  th, td {
    padding: 3px;
    border-bottom: 1px solid #EEE;
  }

  .headers {
    background: #DDD;
  }
}