
@import 'bower_components/bootstrap-sass/assets/stylesheets/_bootstrap';

$bgcolor: #FFF;

body {
  background: $bgcolor;
}

.view {
  margin-top: 65px;
}

p {
  margin: 10px 0 10px 0;
}

.file-upload {
  margin: 5px 0 10px 0;
}